<ion-card>
  <ion-img src="assets/circuloArcoiris.png" alt="Circulo"></ion-img>
  <ion-card-header>
    <ion-card-title>Circulo</ion-card-title>
    <ion-card-subtitle>Calcula el perimetro de un circulo</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Radio</ion-label>
      <ion-input type="number" [(ngModel)]="radio"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="calcularPerimetro()" margin-top>
      Calcular Perimetro
    </ion-button>

    <ion-text *ngIf="perimetro !== null">
      <p>El perimetro del circulo es: {{perimetro | number:'1.2-2'}}</p>
    </ion-text>
  </ion-card-content>
</ion-card>